 /* div CSS */
 .RegisterDiv{
     display: inline;
 }

 .GenderAddress {
    display:flex;
 }
 
 .RegisterMain {
   width: 95%;
   height: 90vh;
   background-color: white;
   background-image: url("/public/background2.png");
   background-position: bottom ;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   margin-left: 5%;
   margin-bottom: 2%;
   float: left;
   bottom: 0;
   position: fixed;
 }
 

 /* fieldset CSS */
 .RegisterField{
     border: none;
 }
 
 
 /* form CSS */
 .RegisterForm {
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 10%;
    width: 510px;
 }
 
 
 
 .RegisterIconForm{
     float:left;
     margin-top: 5%;
 }
 
 
 /* input CSS */
 .RegisterWrite {
     width: 500px;
     height: 20px;
     display: grid;
     flex: 1;
     margin-bottom: 2%;
     background-color: transparent;
     border: 1px solid black;
     border-radius: 10px;
 }

 .RegisterEmail {
     width: 410px;
     height: 20px;
     display: inline-block;
     flex: 1;
     margin-bottom: 2%;
     background-color: transparent;
     border: 1px solid black;
     border-radius: 10px;
 }

 .RegisterPhone {
      width: 410px;
      height: 20px;
      display: inline-block;
      flex: 1;
      margin-bottom: 2%;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 10px;
 }

 .CountryWrite{
      width: 200px;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 10px;
}

 .CityWrite{
      width: 200px;
      margin-left: 2%;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 10px;
 }

 /* span CSS */
 .RegisterSpan{
    font-size: 15px;
    display: grid;
    text-align: left;
 }

 /* id CSS */
 #RegisterAddress{
    display: inline-block;
 }


 /* 성별 select CSS */
 .GenderOption{
    justify-content: left;
 }

 /* button CSS */
.RegisterBtnForm {
     float: right;
     margin-top: 5%;
 }

.SignupGoBtn {
     display: inline;
     background-color: transparent;
     border:none;
     font-size: 11px;
 }

 .EmailConfirmBtn {
    display: inline-block;
    font-size: 10px;
    height: 26px;
    width: 85px;
    flex: 1;
    margin-left: 1%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
 }

 .RegisterBtn {
     background-color: transparent;
     border:none;
     font-size: 11px;
 }

 .AddressConfirmBtn{
     font-size: 10px;
     height: 26px;
     width: 90px;
     margin-left: 1%;
     border-radius: 10px;
     border: 1px solid silver;
     display: inline-block;
     border: 1px solid black;
     background-color: transparent;
 }
