# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# 경로 확실하게 
/api/node_modules
/api2/node_modules
/client/node_modules

# misc
.DS_Store
/api/.env
/api2/.env
/client/.env
