/* div CSS */
 .LoginMain {
    width: 95%;
    height: 90vh;
    background-color: white;
    background-image: url("/public/background2.png");
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 5%;
    margin-bottom: 2%;
    float: left;
    bottom: 0;
    position: fixed;
 }
 
 /* fieldset CSS */
 
 .LoginField{
     border: none;
 }
 
 /* form CSS */
 .LoginForm {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 20%;
    padding-left: 25%;
    padding-right: 25%;
    width: 510px;
 }
 
 .LoginIconForm{
     float:left;
 }
 .LoginBtnForm {
     float: right;
 }
 
 /* input CSS */
 .loginId {
     width: 500px;
     height: 20px;
     display: grid;
     flex: 1;
     margin-bottom: 2%;
     background-color: transparent;
     border: 1px solid black;
     border-radius: 10px;
     color: black;
 }
 
 .loginPwd {
     width: 500px;
     height: 20px;
     display: grid;
     flex: 1;
     margin-bottom: 2%;
     background-color: transparent;
     border: 1px solid black;
     border-radius: 10px;
     color: black;
 }
 
 /* button CSS */
 .loginBtn {
     display: inline;
     right: fixed;
     background-color: transparent;
     border:none;
     font-size: 11px;
 }
 
 .SignupGoBtn {
     display: inline;
     right: fixed;
     background-color: transparent;
     border:none;
     font-size: 11px;
 }