/* div CSS */
.sideMain{
    width: 8%;
    height: 100vh;
    float: left;
    background: linear-gradient(to bottom, white, gray);
    box-shadow: 0px 0px 10px ;
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid gray;
    z-index: 990;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
}

.sideContents {
    width: 100;
    height: 80vh;
}

/* keyframes 정의 */
@keyframes hoverAnimation {
    0% {
        background-color: transparent;
        transform: scale(1);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.1);
        transform: scale(1.05);
    }
    100% {
        background-color: transparent;
        transform: scale(1);
    }
}

/* button CSS */
.naviBtn {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 0;
    margin-bottom: 5%;
    font-size: 1.3vw;
    text-align: left;
    float: left;
    width: 90%;
    height: auto;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-weight: 300;
    font-family: monospace;
    margin-top: 17vh;
    z-index: 990;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    cursor: pointer;
    transform: translateY(0);
}

.naviBtn:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
    transform: translateY(-2px);
}

.naviBtn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}

.naviBtn.active {
    color: red;
}